body {
    font-size: 16px;
}


/* Header*/

.banner {
    height: 64px;
}

.logo-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.logo-image {
    padding-left: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.banner h1 {
    height: 32px;
}

.nav {
    display: flex;
    flex-direction: row;
    margin-right: 8px;
    align-items: center;
    justify-content: center;
}

.nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav li {
    padding-right: 16px;
}


/* Learn*/

.learn {
    background-color: hsla(1, 0%, 77%, 1.0);
    width: 100%;
}

.content {
    display: flex;
    flex-direction: row;
}

.content-image img {
    width: 60%;
    padding: 32px 24 px;
}

.content-column {
    display: flex;
    flex-direction: column;
}

.content-column h1 {
    font-size:
}

#start-here {
    padding: 8px 50px;
    color: hsla(359, 0%, 100%, 1.0);
    background-color: hsla(3, 0%, 35%, 1.0);
    text-align: center;
}

.learning {
    background-color: hsla(1, 0%, 77%, 1.0);
}

.learning-items {
    display: flex;
    overflow: auto;
}